.clearHack:after {
    clear: both;
    content: "";
    display: table;
    
}

.icon {
    height: 100px;
    border: 0;
    margin: 0;
}

.left {
    float: left;
}

#right {
    float: right;
}

.row {
    padding-top: 1em;
}

#professionalPic {
    height: 250px;
}

.header {
    text-align: center;
    font-size: 2em;
}

.table-dark {
    color: slategray;
    background-color: black;
    
}

.table td.department{
    vertical-align: middle;
    text-align: center;
}

#computerScience {
    background-color: dimgray;
}

#informationTechnology {
    background-color: darkgray;
}

#mathematics {
    background-color: lightgray;
}

.cardWrapper {
    display: block;
    margin: auto;
    width: 85%;
}

.card {
    float: left;
    margin: 2%;
    padding: 0;
    border: 0;
    width: 29.33%;
    height: 400px;
    text-align: center;
    
    box-shadow: 20px 20px 20px gray;
}

.cardImage {
    width: 15%;
    margin: 9.167%;
}

#league {
    width: 50%;
    margin: 0%;
    padding: 0%;
}

h4 {
    color: gainsboro;
}

body {
    background-color: black;
    font-family: 'Tajawal', sans-serif;
    padding-top: 5em;
}
